* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navlogo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 1.38px solid white;
}

/* box2 */
.add1 {
    color: #cccccc;
    font-size: 0.92rem;
    margin-left: 15px;

}

.add2 {
    font-size: 1rem;
    margin-left: 3px;
}

.addicon {
    display: flex;
    align-items: center;
}

/* box3 */
.navsearch {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 3px;
}

.searselec {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;

}

.searchinput {
    width: 100%;
    font-size: 1rem;
    border: none;

}

.searchicon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: #febd68;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.navsearch:hover {
    border: 1px solid rgb(233, 136, 9);
}

/* box4 */

span {
    font-size: 0.7rem;
}

.navsecond {
    font-size: 0.85rem;
    font-weight: 700;
}

/* box6 */

.navcart>i {
    font-size: 25px;
}

.navcart {
    font-size: 0.85rem;
    font-weight: 700;
}

/* end of navbar  */

/* start of panel */

.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panelops p {
    display: inline;
    margin-left: 10px;
}

.panelops {
    width: 70%;
    font-size: 0.85rem;

}

.paneldeals {
    font-size: 0.9rem;
    font-weight: 700;
}

/* end of hero */

/* HERO SECTION  */
.hero {
    background-image: url("hero_image.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.heromsg {
    background-color: white;
    color: black;
    height: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    width: 80%;
    /* position: relative; */
    /* bottom: ; */
    margin-bottom: 35px;
}

.heromsg a {
    color: #007185;
}


/* shop section  */

.shop {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.box {
    /* border: 2px solid black; */
    height: 350px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 5px;
}

.boximg {
    height: 250px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.boxcontent{
    margin-left: 1rem;
    margin-right: 1rem;

}
.boxcontent p{
    color: #007185;

}
/* footer 00 */
.footpanel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.footpanel2{
    background-color: #222f3d;
    color: white;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    
}

.footpanel2 ul{
    margin-top: 20px;
}
.footpanel2 ul a {
    display: block ;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.footpanel3{
    background-color: #37475a;
    color: white;
    border-top: 1.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
}

.logo{
    background-image: url("amazon_logo.png");
    height: 50px;
    background-size: cover;
    width: 100px;
}

.footpanel4{
    background-color: #0f1111;
    color: white;
    height: 95px;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.pages{
    font-size: 0.7rem;
    /* text-align: center; */
    padding-top: 25px;
}

.copyright{
    padding-top: 5px;
    font-size: 0.7rem;
    /* text-align: center; */
    
}